.bg-list {
    height:auto;
    min-width: 100%;
    min-height: 100%;
	background: url('../assets/images/spy.png');
	background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
}

/* *****************************************************
    One mission view 
****************************************************** */

#mission-bg {
    height: auto;
    min-width: 100%;
    min-height: 100%;
	background: url('../assets/images/spy.png');
	background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
}

.bg-card {
    opacity: 0.9;
    color: black;
    -webkit-box-shadow: 0px 10px 13px -7px #F7F5F3;
    box-shadow: 0px 10px 13px -7px #F7F5F3;
}


