/* ***********************************************************
                        Login 
************************************************************ */

#login-bg {
	height: 65vh ;
    min-width: 100%;
    min-height: 100%;
	background: url('../assets/images/spy.png');
	background-size: cover;
	background-position: bottom;
    background-repeat: no-repeat;
}

#login-form {
	border-radius: 10px;
	margin: 10vh auto ; 
    opacity: 0.9;
	color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #F7F5F3;
    box-shadow: 5px 5px 15px 5px #F7F5F3;
} 


/*****************************************************************
                    Media queries 
******************************************************************/


@media screen and (min-width: 280px) and (max-width: 1200px) {
    #login-bg {
        height: 100%;
    }
}