/* colors : 
noir : #0D0B07
gris foncé: #5D5B57
gris: #AAA8A5
gris clair: #F7F5F3
rouge clair: #CC0C0D
rouge: #951317
rouge foncé: #7F0B07
*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;  */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #0D0B07;
    color:  #F7F5F3;
    /* display: flex;
    flex-direction: column; */
}

h1, h2 {
    color:  #F7F5F3;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    padding-top: 2vh;
}

a {
    color:#0D0B07;
    text-decoration: none;
}


/* ***********************************************************
                        Navigation 
************************************************************ */

#menu {
    background-color: #F7F5F3;
    color: #0D0B07;
    height: 13vh;
}

/* ***********************************************************
                        Footer
************************************************************ */

footer {
    background-color: #AAA8A5;
    color: #0D0B07;
    height: 14vh;
}

.footer-link {
    color: #0D0B07;
    text-decoration: none;
}

.footer-link:hover {
    color: #F7F5F3;
}



/*****************************************************************
                    Media queries 
******************************************************************/


@media screen and (min-width: 280px) and (max-width: 769px) {

    h1, h2 {
        font-size: 1.5rem;
    }
    body {
        font-size: 16px;
        height: 100%;
    }
    #menu {
        height: 15vh;
    }
    footer {
        height: 15vh;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {

    h1, h2 {
        font-size: 2rem;
    }
 
}